
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>home</title>
  </head>

  <body>

    <div class="container">


    <hr>
    
      <h3>Mestrado Profissional em Engenharia Mecânica</h3>

    <hr>
    
    <h4>Redes Neurais Convolucionais para detecção de nódulos</h4>
    
    <hr>
    
      <h5>Send a file to predict</h5>
      
      

      <form action="/predict" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label for="file">file</label>
          <input type="file" class="form-control-file" id="file" name="file">
        </div>

        <hr>
        <button type="submit"sclass="btn btn-primary"> <i class="fas fa-save"></i> Save </button>
      </form>

    <hr>
    <h7> Rodrigo Biasuz </h7>
    <hr>
        <h7> Orientador: Prof. Leandro Luís Corso </h7>
        
    </div>
    


  </body>

</html>
